.card {
  display: flex;
  gap: 24px;
}

.imageContainer {
  width: 160px;
  aspect-ratio: 29/25;

  padding: 8px 0;

  position: relative;
}

.image {
  width: 100%;
  height: 100%;
}

.imageLabel {
  position: absolute;
  top: 5%;

  padding: 4px 8px;

  background-color: white;
  
  border-left: 1px solid lightgrey;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;

  padding: 16px 24px 8px 0px;

  border-top: 1px solid lightgray;
}

.upper {
  display: flex;
  flex-direction: column;
}

.lower {
  display: flex;
  flex: 1;
}

.titleAndRatingContainer {
  display: flex;
  justify-content: center;

  gap: 16px;
}

.title {
  max-width: 50%;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.rating {
  display: flex;
  flex: 2;
  align-items: center;
}

.roomAndPromotionContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.room {
  margin-top: 8px;
}

.pricingContainer {
  display: flex;
  flex-direction: column;
  align-items: end;
}
