.card {
  display: flex;
  background-color: goldenrod;
}

.imageContainer {
  background-color: aliceblue;

  width: 145px;
  height: 125px;

  position: relative;
}

.image {
  background-color: lavender;

  width: 100%;
  height: 100%;
}

.imageLabel {
  position: absolute;
  top: 5%;

  padding: 4px 8px;

  background-color: white;
  
  border-left: 1px solid lightgrey;
}

.content {
  display: flex;
  background-color: beige;
}

.title {
  background-color: lightblue;
}

.address {
  background-color: lightgray;
}

.rating {
  background-color: palegoldenrod;
}

.room {
  background-color: lightpink;
}

.promotion {
  background-color: lightsalmon;
}

.price {
  background-color: lightseagreen;
}

.savings {
  background-color: lightyellow;
}

.priceLabel {
  background-color: moccasin;
}
