.container {
  max-width: 875px;
  padding-top: 16px;

  display: flex;
  gap: 16px;
  flex-direction: column;
  flex: 1;

  border-bottom: 1px solid lightgrey;
}

.logo {
  width: 200px;
}

.top {
  display: flex;
  justify-content: space-between;
}
